.appContainer {
  display: flex;
  flex-direction: column;
}

.appTop {
  margin: 10px;
  margin-bottom: 0px;
}

.appBodyContainer {
  display: flex;
  flex-direction: row;
}
.sidebar {
  flex: 2;
  margin: 10px;
}
.appContent {
  flex: 6;
  margin: 10px;
}
