.formContainer {
    background-color: rgb(40, 40, 40);
    color: rgb(203, 203, 203);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
}
.heading {
    margin: 15px;
}
.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}
.formLeft {
    width: 300px;
}
.formMiddle {
    width: 300px;
}
.formRight {
    width: 300px;
}
.button {
    display: flex;
    align-items: flex-end;
}