.buildContainer {
    background-color: rgb(40, 40, 40);
    color: rgb(203, 203, 203);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: auto;
}
.buildTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.buildDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    margin-bottom: 0px;
}
.descriptionLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.pcImg {
    height: 250px;
}
.buildBottom {
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-bottom: 5px;
}

