.loginContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 40, 40);
    color: rgb(203, 203, 203);
    border-radius: 15px;
    align-items: center;
    padding: 30px;
}
.formContainer {
    background-color: rgb(167, 26, 26);
}