.sidebarContainer {
    background-color: rgb(40, 40, 40);
    color: rgb(203, 203, 203);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.sidebarHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.name {
    color: rgb(203, 203, 203);
}
.buildNameSidebar {
    color: rgb(203, 203, 203);
    text-decoration: none;
    background-color: rgb(16, 16, 16);
    margin: 2px;
    border-radius: 5px;
    list-style-type: none;
}
.buildNameSidebar:hover {
    background-color: rgb(25, 25, 25);
}
.listContents {
    padding: 7px;
}
.listPcs {
    max-height: 500px;
    overflow-y: scroll;
}
.listPcs::-webkit-scrollbar {
    display: none;
}